*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* .container{
    width: 100%;
    height: 100vh;
} */
.container h1{
    margin-left: 250px;
}
.navbar{
    width: 16%;
    height: 128vh;
    background-color: #fff;
    position: absolute;
}
.navbar h2{
    padding-left: 50px;
    padding-top: 20px;
    font-weight: 600;
}
.navbar img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 5px solid rgb(223, 220, 220);
    margin-left: 70px;
    margin-top: 30px;
}
.navbar h3{
    padding-left: 40px;
    padding-top: 10px;
    font-weight: 550;
    font-size: 17px;
    color: black;
}
.navbar h5{
    padding-left: 55px;
    padding-top: 5px;
    font-weight: 500;
    color: grey;
}
.dashboard {
    width: 100%;
    height: 128vh;
    background-color: #282e38;
}
.dashboard .search-box h2{
    padding-top: 20px;
    padding-left: 250px;
    color: #fff;
    font-weight: 500;
}
.search-box{
    width: 100%;
    height: 10vh;
    display: flex;
    position: relative;
}
a{
    text-decoration: none;
}
.searchText{
    width: 210px;
    height: 30px;
    padding: 20px;
    border-radius: 5rem;
    margin-top: 20px;
    margin-left: 530px;
    background-color: #333a46;
    color: #fff;
    border: none;
    outline: none;
}
.Searchbtn{
    width: 2rem;
    height: 2rem;
    margin-left: 1080px;
    margin-top: 25px;
    border-radius: 5rem;
    color: #bec2c8;
    position: absolute;
    display: grid;
    place-items: center;
    font-weight: 400;
}
.items{
    width: 223x;
    height: 500px;
}
.items h5{
    padding-left: 20px;
    padding-top: 25px;
    color: rgb(63, 63, 63);
    font-weight: 800;
}
.items p {
    padding-left: 40px;
    padding-top: 15px;
}
.items p a{
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-weight: 500;
}
.items a:hover{
    color: black;
    font-size: 1rem;
    font-weight: 600;
    
    /* width: 500px;
    height: 300px;
    border-radius: 30px;
    background-color: grey; */
}
.items ul{
    margin-left: 50px;
}
.items ul li{
    padding-top: 8px;
    padding-bottom: 8px;
    list-style-type: none;
}
.items ul li a{
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-weight: 500;
}
.data {
    display: flex;
    margin-left: 210px;
    
    margin-top: 20px;
    justify-content: space-evenly;
}
.box-1{
    width: 270px;
    height: 200px;
    margin-left: 10px;
    background-color: #313844;
    border-radius: 5px;
}
.box-1 h4{
    color: #fff;
    font-weight: 550;
    margin-top: 20px;
    margin-left: 20px;
}
.box-1 h3{
    color: #fff;
    margin-left: 180px;
    margin-top: 50px;
    font-size: 26px;
    font-weight: 500;
}
.box-1 p{
    color: #fff;
    margin-left: 130px;
    margin-top: 5px;
}
/* .badebox {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    background-color: yellow;
}
.box-2{
    width: 100px;
    height: 200px;
    margin-left: 300px;
    position: absolute;
    padding: 50px;
    background-color: green;
} */

.badebox{
    margin-top: 5px;
    margin-left: 210px;
    display: flex;
    padding: 15px;
}
.badebox .box-1{
    width: 370px;
    height: 380px;
}
.badebox .box-1 h4{
    font-size: 20px;
}
.contact{
    display: flex;
    margin-left: 210px;
    margin-top: 0px;
    padding: 15px;
}
.contact .box-1{
    width: 350px;
    height: 120px;
}
.contact .box-1 img{
    width: 65px;
    height: 65px;
    margin-top: 25px;
    margin-left: 30px;
    border-radius: 100px;
}